<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="description" content="Login - Register Template">
    <meta name="author" content="Lorenzo Angelino aka MrLolok">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <style>
        body {
            background-color: #303641;
        }
    </style>
</head>

<body>
<div id="container-login">
    <div id="title">
        <i class="material-icons lock">lock</i> Login
    </div>

    <form method="post" action="/user/login">
        <div class="input">
            <div class="input-addon">
                <i class="material-icons">face</i>
            </div>
            <input id="email" placeholder="Email" name="email" type="email" required class="validate">
        </div>

        <div class="clearfix"></div>

        <div class="input">
            <div class="input-addon">
                <i class="material-icons">vpn_key</i>
            </div>
            <input id="password" placeholder="Password" name="password" type="password" required class="validate">
        </div>

        <div class="remember-me">
            <input style="margin-top: 20px" class="form-check-input" type="checkbox" id="rememberMe"
                   name="rememberMe" value="false"/>
            <span style="color: #DDD">Remember Me</span>
        </div>

        <input type="submit" style="margin-top: 20px" value="Log In"/>
    </form>

    <div class="register">
        Don't have an account yet?
        <a href="/user/signup">
            <button id="register-link">Register here</button>
        </a>
    </div>
</div>
<script>
    // 쿠키 저장 및 로그인 시 이메일 값 설정
    document.addEventListener("DOMContentLoaded", function () {
        var rememberMeCheckbox = document.getElementById("rememberMe");
        var emailInput = document.getElementById("email");

        // 쿠키에 이메일 저장
        function setEmailCookie() {
            if (rememberMeCheckbox.checked) {
                document.cookie = "email=" + emailInput.value + "; expires=Thu, 1 Jan 2025 12:00:00 UTC; path=/";
            } else {
                document.cookie = "email=; expires=Thu, 1 Jan 1970 00:00:00 UTC; path=/;";
            }
        }

        // 이메일 쿠키 값 가져와서 입력 필드에 설정
        function setEmailFromCookie() {
            var cookies = document.cookie.split(";");
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.indexOf("email=") === 0) {
                    emailInput.value = cookie.substring("email=".length, cookie.length);
                    rememberMeCheckbox.checked = true;
                    break;
                }
            }
        }

        // Remember me 체크박스 이벤트 리스너
        rememberMeCheckbox.addEventListener("change", setEmailCookie);

        // 페이지 로드 시 이메일 쿠키 값 설정
        setEmailFromCookie();
    });

    // 페이지 로드 시 체크박스 상태 확인 및 쿠키 삭제
    window.onload = function () {
        var rememberMeCheckbox = document.getElementById("rememberMe");
        var emailInput = document.getElementById("form3Example3c");

        // Remember me 체크박스 체크 여부 확인
        function checkRememberMe() {
            var cookies = document.cookie.split(";");
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.indexOf("email=") === 0) {
                    rememberMeCheckbox.checked = true;
                    break;
                }
            }
        }

        // Remember me 체크박스 체크되지 않았을 때 쿠키 삭제
        function deleteEmailCookie() {
            document.cookie = "email=; expires=Thu, 1 Jan 1970 00:00:00 UTC; path=/;";
            emailInput.value = "";
        }

        // Remember me 체크박스 체크 여부 확인 및 쿠키 삭제
        checkRememberMe();
        if (!rememberMeCheckbox.checked) {
            deleteEmailCookie();
        }
    };

    // 로그아웃 시 체크박스 초기화
    function logout() {
        var rememberMeCheckbox = document.getElementById("rememberMe");
        rememberMeCheckbox.checked = false;
        deleteEmailCookie(); // Clear the email cookie as well
    }
</script>
</body>

</html>
